service rumplestilzken_firstboot /bin/sh /system/bin/rumplestilzken_firstboot.sh
    class main
    group root system
    user root
    seclabel u:r:rumplestilzken:s0

on boot
    domainname global
    start rumplestilzken_firstboot

